@use "../base/variables" as *;
@use "../base/mixins.scss" as*;

.header {
    margin-bottom: 20px;

    &__top {
        background-color: $color-blue-background;
        min-height: 36px;
        height: 100%;
        @include flex-center(flex-start);
        @include hidden-tablet;
    }

    &__container {
        @include flex-center(space-between);

        @include respond-to(1024) {
            padding: 0 32px;
        }

        @include respond-to(764) {
            padding: 0 16px;
        }
    }

    &__location-btn {
        color: $color-white;
        cursor: pointer;
    }

    .top-nav {
        &__list {
            gap: 40px;
            @include flex-center(flex-start);
        }

        &__link {
            color: $color-blue-light;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-link-hover;
            }

            &:active {
                color: $color-link-active;
            }            
        }

        .dropdown-btn {
            background-color: transparent;
            color: $color-blue-light;
            border: none;
            padding: 0;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-link-hover;
            }

            &:active {
                color: $color-link-active;
            }

            &__svg {
                fill: currentColor;
                transition: fill $transition-default;

                &:hover {
                    fill: $color-link-hover;
                }

                &:active {
                    fill: $color-link-active;
                }
            }
        }
    }

    &__main {
        background-color: $color-blue;
        min-height: 72px;
        height: 100%;
        @include flex-center(flex-start);

        @include respond-to(1024) {
            min-height: 52px;
        }
    } 

    &__logo {
        margin-right: 84px;
        width: 198px;
        height: 26px;
        background-image: url('/public/icons/headerLogo.svg');
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;

        @include respond-to(1024) {
            background-image: url("/public/icons/small-logo.svg");
            width: 30px;
            height: 21px;
            margin-right: 16px;
        }
    }

    .catalog-btn {
        background-color: $color-white;
        border: none;
        border-radius: $radius-main;
        padding: 8px 20px;
        @include flex-center(flex-start);
        gap: 8px;
        cursor: pointer;
        color: $color-blue;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-right: 8px;
        transition: color $transition-default;
        @include hidden-tablet;

        &:hover {
            background-color: $color-btn-hover-bg;
        }

        &__icon {
            @include flex-center;
        }
    }

    .catalog-search {
        @include flex-center(flex-start);
        max-width: 935px;
        width: 100%;
        margin-right: 20px;

        @include respond-to(1024) {
            margin-right: 0;
        }
    }

    .search-container {
        @include flex-center(flex-start);
        border: none;
        border-radius: $radius-main;
        background-color: $color-blue-input;
        padding: 2px 2px 2px 12px;
        height: 36px;
        width: 100%;
        transition: background-color $transition-default;

        &:hover {
            background-color: $color-input-hover;
        }

        &:focus-within {
            background-color: $color-white;
        }

        &__icon-mobile {
            @include respond-from(1025) {
                display: none;
            }

            @include respond-to(1024) {
                fill: $color-white;
                margin-right: 6px;
            }
        }

        &__input {
            flex-grow: 1;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            max-width: 740px;
            width: auto;

            &::placeholder {
                color: $color-white;
            }

            &:focus::placeholder {
                color: $color-black;
            }
        }

        &__btn {
            background-color: $color-blue;
            border: none;
            border-radius: $radius-small;
            cursor: pointer;
            @include flex-center;
            width: 64px;
            padding: 0 12px;
            height: 100%;
            fill: $color-white;
            flex-shrink: 0;
            transition: background-color $transition-default;
            @include hidden-tablet;

            &:hover {
                background-color: $color-input-hover;
            }
        }
    }    

    .user-actions {
        max-width: 210px;
        width: 100%;
        @include flex-center(flex-start);
        @include hidden-tablet;

        &__login {
            font-size: $font-size-sm;
            color: $color-white;
            letter-spacing: .5px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: auto;
            cursor: pointer;
            transition: color $transition-default;

            &:hover {
                color: $color-blue-light;
            }
        }

        &__list {
            display: flex;
            gap: 28px;
        }

        &__item {
            fill: $color-white;
            transition: fill $transition-default;

            &:hover {
                fill: $color-blue-light;
            }
        }

        &__icon {
             @include flex-center;
        }
    }

    &__down {
        min-height: 40px;
        height: 100%;
        background-color: $color-black;
        @include flex-center(flex-start);
        @include hidden-tablet;
    }

    .down-menu {
        &__list {
            @include flex-center(flex-start);
            color: $color-white;
            gap: 16px;
        }

        &__item {
            display: block;

            @include respond-to(1200) {
                &:last-child {
                    display: none;
                }
            }

            @include respond-to(1056) {
                &:nth-last-child(-n+2) {
                    display: none;
                }
            }
        }    

        &__link {
            @include flex-center(flex-start);
            gap: 4px;
            white-space: nowrap;
            color: $color-white;
            font-size: $font-size-sm;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
            transition: color $transition-default;

            &:hover {
                color: $color-link-active;
            }
        }

        &__icon {
            display: inline-block;      
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0; 
        }

        .daimond-icon {
            background-image: url("/public/icons/premium_menu.svg");
            width: 17px;
            height: 16px;
        }

        .style-icon {
            background-image: url("/public/icons/style_menu.svg");
            width: 16px;
            height: 16px;
        }

        .sale-icon {
            background-image: url("/public/icons/sale_menu.svg");
            width: 17px;
            height: 16px;
        }
    }  

    &__down-mobile {
        background-color: $color-blue;
        min-height: 31px;
        height: 100%;
        @include flex-center(flex-start);

        @include respond-from(1025) {
            display: none;
        } 
    }

    .btn-mobile {
        display: flex;
        justify-content: space-between;

         &__icon {
            fill: $color-blue-light;
            margin-left: 8px;
            align-self: flex-end;
        }
    }

    .bar-mobile {
        box-shadow: inset 0 1px $color-grey;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 49px;
        background-color: $color-white;
        @include flex-center(space-around);
        z-index: 1000;

        @include respond-from(1025) {
            display: none;
        }

        &__link,
        &__btn {
            color: $color-grey-light;
            fill: $color-grey-light;
            font-size: 9px;
            @include flex-center;

            @include respond-to(764) {
                flex-direction: column;
            }
        }

        &__link {
            &.active {
                fill: $color-blue;
                color: $color-blue;
            }
        }

        &__icon {
            margin-right: 8px;

            @include respond-to(764) {
                margin: 0 0 4px 0;
            }
        }
    }  
}       