@use "../base/variables" as *;
/* TOP */

.header {
    &__top {
        background-color: $color-blue-background;
        min-height: 36px;
        height: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            display: none !important;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1024px) {
            padding: 0 32px;
        }

        @media (max-width: 764px) {
            padding: 0 16px;
        }
    }

    &__location-btn {
        color: $color-white;
        cursor: pointer;
    }

    &__actions.user-actions {
        display: flex;
        align-items: center;
        max-width: 210px;
        width: 100%;

        @media (max-width: 1024px) {
            display: none !important;
        }
    }

    .top-nav {
        &__list {
            display: flex;
            gap: 40px;
            align-items: center;
        }
        &__link {
            color: $color-blue-light;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-link-hover;
            }

            &:active {
                color: $color-link-active;
            }            
        }

        .dropdown-btn {
            background-color: transparent;
            color: $color-blue-light;
            border: none;
            padding: 0;
            letter-spacing: 0.8px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-link-hover;
            }

            &:active {
                color: $color-link-active;
            }

            .dropdown-btn__svg {
                fill: currentColor;
                transition: fill 0.3s ease-in-out;

                &:hover {
                    fill: $color-link-hover;
                }

                &:active {
                    fill: $color-link-active;
                }
            }
        }
    }

    &__main {
        background-color: $color-blue;
        min-height: 72px;
        height: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            min-height: 52px;
        }
    } 

    &__logo {
        margin-right: 84px;
        width: 198px;
        height: 26px;
        background-image: url('/public/icons/headerLogo.svg');
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;

        @media (max-width: 1024px) {
            background-image: url("/public/icons/small-logo.svg");
            width: 30px;
            height: 21px;
            margin-right: 16px;
        }
    }

    .catalog-btn {
        background-color: $color-white;
        border: none;
        border-radius: 8px;
        padding: 8px 20px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        color: $color-blue;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-right: 8px;
        transition: color 0.3s ease-in-out;

        &:hover {
            background-color: $color-btn-hover-bg;
        }

        @media (max-width: 1024px) {
            display: none !important;
        }

        &__icon {
            display: flex;
            align-items: center;
        }
    }

    .catalog-search {
        display: flex;
        align-items: center;
        max-width: 935px;
        width: 100%;
        margin-right: 20px;

        @media (max-width: 1024px) {
            margin-right: 0;
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 8px;
        background-color: $color-blue-input;
        padding: 2px 2px 2px 12px;
        height: 36px;
        width: 100%;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: $color-input-hover;
        }

        &:focus-within {
            background-color: $color-white;
        }

        &__icon-mobile {
            @media (min-width: 1025px) {
                display: none;
            }

            @media (max-width: 1024px) {
                fill: $color-white;
                margin-right: 6px;
            }
        }

        &__input {
            flex-grow: 1;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            max-width: 740px;
            width: auto;

            &::placeholder {
                color: $color-white;
            }

            &:focus::placeholder {
                color: $color-black;
            }
        }

        &__btn {
            background-color: $color-blue;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            padding: 0 12px;
            height: 100%;
            fill: $color-white;
            flex-shrink: 0;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $color-input-hover;
            }

            @media (max-width: 1024px) {
                display: none !important;
            }
        }
    }    

    .user-actions {
        display: flex;
        align-items: center;
        max-width: 210px;
        width: 100%;

        @media (max-width: 1024px) {
            display: none !important;
        }

        &__login {
            font-size: 12px;
            color: $color-white;
            letter-spacing: .5px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: auto;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-blue-light;
            }
        }

        &__list {
            display: flex;
            gap: 28px;
        }

        &__item {
            fill: $color-white;
            transition: fill 0.3s ease-in-out;

            &:hover {
                fill: $color-blue-light;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
        }
    }

    &__down {
        min-height: 40px;
        height: 100%;
        background-color: $color-black;
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            display: none !important;
        }
    }

    .down-menu {
        
        &__list {
            display: flex;
            color: $color-white;
            gap: 16px;
            align-items: center;
        }

        &__item {
            display: block;

            @media (max-width: 1200px) {
                    &:last-child {
                    display: none;
                }
            }

            @media (max-width: 1056px) {
                    &:nth-last-child(-n+2) {
                    display: none;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 4px;
            white-space: nowrap;
            color: $color-white;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $color-link-active;
            }
        }

        &__icon {
            display: inline-block;      
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0; 
        }

        .daimond-icon {
            background-image: url("/public/icons/premium_menu.svg");
            width: 17px;
            height: 16px;
        }

        .style-icon {
            background-image: url("/public/icons/style_menu.svg");
            width: 16px;
            height: 16px;
        }

        .sale-icon {
            background-image: url("/public/icons/sale_menu.svg");
            width: 17px;
            height: 16px;
        }
    }

    &__down-mobile {
        background-color: $color-blue;
        min-height: 31px;
        height: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 1025px) {
            display: none;
        } 
    }

    .btn-mobile {
        display: flex;
        justify-content: space-between;

         &__icon {
            fill: $color-blue-light;
            margin-left: 8px;
            align-self: flex-end;
        }
    }

    .bar-mobile {
        box-shadow: inset 0 1px $color-grey;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 49px;
        background-color: $color-white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;

        @media (min-width: 1025px) {
            display: none;
        }

        &__link {
            justify-content: center;
            display: flex;
            align-items: center;
            color: $color-grey-light;
            fill: $color-grey-light;
            font-size: 9px;

            &.active {
                fill: $color-blue;
                color: $color-blue;
            }

            @media (max-width: 764px) {
                flex-direction: column;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            color: $color-grey-light;
            fill: $color-grey-light;
        font-size: 9px;

            @media (max-width: 764px) {
                flex-direction: column;
            }
        }

        &__icon {
            margin-right: 8px;

            @media (max-width: 764px) {
                margin: 0 0 4px 0;
            }
        }
    }    
} 