@use "../base/variables" as *;
@use "../base/mixins.scss" as*;

.sports {
    margin-bottom: 60px;

    &__list {
        display: flex;
        gap: 8px;
        overflow-x: auto;
    }

    &__link {
        font-weight: $font-weight-medium;
        font-size: $font-size-m;
        color: $color-grey-link;

        @include respond-to($tablet) {
            font-size: $font-size-sm;
        }
    }

     &__card {
        flex-shrink: 0;
        display: block;
        text-decoration: none;
        width: 216px;
        height: 120px;
        border-radius: $radius-main;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        padding: 16px;
        box-sizing: border-box;

        @include respond-to($tablet) {
            width: 162px;
            height: 90px;
            &:last-child {
                margin-right: 32px;
            } 
        }

        @include respond-to($mobile) {
            &:last-child {
                margin-right: 16px;
            } 
        }

        &.tourism {
            background-image: url("/images/tourism.jpg");
        }

        &.camping {
            background-image: url("/images/camping.jpg");
        }

        &.fishing {
            background-image: url("/images/fishing.jpg");
        }
        
        &.water-tourism {
            background-image: url("/images/water_tourism.jpg");
        }
        
        &.beach {
            background-image: url("/images/beach.png");
        }

        &.cycle {
            background-image: url("/images/cycle.jpg");
        }

        &.scooter {
            background-image: url("/images/scooter.jpg");
        }

        &.run {
            background-image: url("/images/run.jpg");
        }

        &.trailrun {
            background-image: url("/images/trailrun.jpg");
        }

        &.rollerskate {
            background-image: url("/images/rollerskate.jpg");
        }

        &.skateboarding {
            background-image: url("/images/skateboarding.jpg");
        }

        &.football {
            background-image: url("/images/football.jpg");
        }
    }
}


