@use "./variables" as *; 
@use "../base/mixins.scss" as*;

body {
    margin: 0 auto;
    min-width: $screen-min-width;
    font-family: $font-base;
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
}

.container {
    width: 100%;
    max-width: $container-max-width;
    padding: $container-padding;
    margin: 0 auto;
}

.btn-reset {
    background-color: transparent;
    border: none;
    padding: 0;
}

.section-title {
    font-weight: $font-weight-medium;
    font-size: 28px;
    margin: 0;
    line-height: 36px;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 20px;

    @include respond-to(1024) {
        font-size: 20px;      
        margin-bottom: 12px;
        letter-spacing: 1px;
        line-height: 28px;
    }
}

.main__container {
    @include respond-to(1024) {
        padding: 0 0 0 32px;       
    }

    @include respond-to(764) {
        padding: 0 0 0 16px;
    }
}    