// ШРИФТЫ
$font-family-base: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-size-base: 12px;
$font-base: $font-family-base;

// РАЗМЕРЫ И СЕТКА
$screen-min-width: 375px;
$container-max-width: 1536px;
$container-padding: 0 44px;

// ЦВЕТА
$color-white: #ffffff;
$color-black: #121621;
$color-red: #ff0016;
$color-green: #21d797;
$color-yellow: #f7d08f;

$color-blue: #1551e5;
$color-blue-light: #b5caff;
$color-blue-input: #1c66f4;
$color-blue-background: #0e42c1;
$color-blue-light-background: #e8eefd;

$color-grey: #bababa33; 
$color-grey-light: #bababa;
$color-grey-link: #3d3d3d;
$color-grey-line-through: #b0b0b0;

// ИНТЕРАКТИВНЫЕ СОСТОЯНИЯ
$color-link-hover: #89aaff;
$color-link-active: #0e42c1;
$color-btn-hover-bg: #eef6ff;
$color-input-hover: #1741b6;
$color-btn-hover-ng: #f6f6f6;
$color-btn-active-ng: #e7e7e7;

// Скругления
$radius-main: 8px;
$radius-small: 6px;
$radius-xs: 4px;

// Текст
$font-size-xs: 9px;
$font-size-s: 10px;
$font-size-sm: 14px;
$font-size-m: 16px;
$letter-spacing-nav: 0.8px;

// Анимация
$transition-default: 0.3s ease-in-out;