:root {
     /* COLORS
     /*  */

    --white: #fff;
    --light-blue: #b5caff;
    --blue: #1551e5;
    --color-blue-input: #1c66f4;
    --black: #121621;
    --hover-blue-link: #89aaff;
    --active-blue-link: #0e42c1;
    --hover-btn-background-color: #eef6ff;
    --hover-input-form-blue: #1741b6;
     
     /* FONTS */
     --font-family-base: 'Roboto', sans-serif;
     /* --section-title: normal 500 35px/143% var(--font-family-base);
     --item-desc-section: normal 400 16px/188% var(--font-family-base); */
     /* --item-desc-desktop: normal 400 16px/32px var(--font-family-base);
     --item-title-desktop: normal 700 24px/32px var(--font-family-base);
     --btn-font-desktop: normal 700 23px/100% var(--font-family-base);
     --headfoot-desc-desktop: normal 600 18px/100% var(--font-family-base); */  */
}